<div class="wrapper">
    <div id="index" class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Guess the subreddit!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-unstyled" id="subreddit-topics">
                </ul>
            </div>
        </div>
    </div>
    <div id="new" class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Score: <span id="score">0</span></h2>
                <form id="subreddit-guess-form">
                    <div class="form-group" id="subreddit-options">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit guess</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
